@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@font-face {
    font-family: 'mvboli';
    src: url('../fonts/mvboli.eot');
    src: url('../fonts/mvboli.eot') format('embedded-opentype'),
         url('../fonts/mvboli.woff2') format('woff2'),
         url('../fonts/mvboli.woff') format('woff'),
         url('../fonts/mvboli.ttf') format('truetype'),
         url('../fonts/mvboli.svg#mvboli') format('svg');
}

body {font-family: 'Roboto', sans-serif;font-size: 16px;color: #777777;background-color: #f9f9f9;}
h1, h2, h3, h4, h5, h6 { color: #000;}
a{color: #0072ed;}
.heading{font-size: 41px;font-weight: 500;color: #000;}
.heading-sub-text{font-size: 20px;font-weight: 300; line-height: normal;}
.sub-heading {font-size: 30px;font-weight: 500;color: #000;}

.hide{display:none;}
.show{display:block;}
.btn-custom {
  display: inline-flex;
  justify-content: center;
  align-items: center; 
  height: 40px;
  line-height: normal;
  white-space: nowrap;
  outline: none;
  box-shadow: none;	
  border: solid 1px #26b4ff;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 400;
  color: #484a4c;
  text-decoration: none;
  padding: 5px 25px;
  position: relative;
    cursor: pointer;
    -webkit-appearance: button;	
background: linear-gradient(to bottom,  #fff 1%,#e8e8e8 100%);
}
.btn-custom .icon{padding-right: 15px;}
.btn-custom .icon [class*="fa"]{font-size: 14px;}
.btn-custom:hover, .btn-custom:focus {
  background: linear-gradient(to bottom,  #e8e8e8 1%,#fff 100%); 
  color: #484a4c;
  text-decoration: none;
  outline: none;
}

.btn-primary{
background: #3696fc;
padding: 7px 10px;		
font-size: 20px;	
border-color: transparent;	
background: linear-gradient(to bottom,  #3696fc 0%,#3188e5 100%);
}
.btn-primary:hover,
.btn-primary:focus{background: linear-gradient(to bottom,  #3188e5 0%,#3696fc 100%); border-color: transparent; outline: none; box-shadow: none;}
.btn-primary:not(:disabled):not(.disabled).active:focus, 
.btn-primary:not(:disabled):not(.disabled):active:focus{border-color: transparent; outline: none; box-shadow: none;}

.btn-secondary{ 
background: #c7c7c6;
border-color:#c7c7c6;
font-size: 20px;
padding: 7px 10px;	
}
.btn-secondary:hover,
.btn-secondary:focus{background-color: #999999;border-color:#999999;}
.btn-secondary:not(:disabled):not(.disabled).active:focus, 
.btn-secondary:not(:disabled):not(.disabled):active:focus{border-color: transparent; outline: none; box-shadow: none;}

.btn-success{ 
background: #2ecc71;	
font-size: 20px;	
border-color: transparent;	
background: linear-gradient(to bottom,  #2ecc71 0%,#2aba67 100%);	
}
.btn-success:hover,
.btn-success:focus{background: linear-gradient(to bottom,  #2aba67 0%,#2ecc71 100%); border-color: transparent; outline: none; box-shadow: none;}
.btn-success:not(:disabled):not(.disabled).active:focus, 
.btn-success:not(:disabled):not(.disabled):active:focus{border-color: transparent; outline: none; box-shadow: none;}


.bg-secondary{background-color: #f0f8fc!important;}

.header{padding: 10px 0; background-color: #f9f9f9; box-shadow: 0px 5px 7px rgba(0,0,0,0.2);}
ul.main-menu{padding: 0; margin: 0; display: flex; align-items: center;justify-content: flex-end;}
ul.main-menu li{list-style: none; margin-left: 20px; position: relative;}
ul.main-menu li .nav-link{background: transparent; border: solid 1px transparent;}
ul.main-menu li .nav-link:hover{border: solid 1px #26b4ff;background: linear-gradient(to bottom,  #e8e8e8 1%,#fff 100%); color:#484a4c;}

ul.main-menu li.header-search{margin-left: 40px;}
.header-search .search-form{position: absolute;  right: 0;  top: -20px;}
.header-search .search-form .form-group{margin: 0; position: relative;}
.header-search .search-form .form-control{height: 40px; border-radius: 40px; border:solid 1px #f1f3f4;; 
	box-shadow: inset 0 10px 8px -10px rgba(0,0,0,0.4); width: 0; opacity: 0;  transition: all 0.3s ease 0s; }
.header-search .search-form .form-group:hover .form-control{width: 285px; opacity: 1;}
.header-search .search-form .form-group .form-control:focus {width: 285px; opacity: 1;}
.header-search .search-form .search-btn{position: absolute; background: transparent; border: none; box-shadow: none;     right: 10px;  top: 9px; color: #33b9ff; font-size: 16px;}

.footer{ background-color: #fff; padding: 30px 0; color: #000000; font-size:20px;}
ul.footer-menu{padding: 0; margin: 0; display: flex; flex-wrap: wrap; align-items: center; justify-content: center;}
ul.footer-menu li{list-style: none;margin: 3px 13px;}
ul.footer-menu li a{font-size: 15px; color: #777777; text-decoration: none; display: block;}
ul.footer-menu li a:hover{color: #777777; text-decoration: underline;}
.footer-copyright{padding: 0; margin: 0; font-size: 14px; color: #878686;text-align: center;}
.footer-copyright a{ color: #878686; text-decoration: none; }
.footer-copyright a:hover{ color: #878686; text-decoration: underline;}

.content-top-wrapper{padding: 30px 0; }
.lesson-video iframe{width: 100%; height: 385px;}
.lesson-card{background-color: #f9f9f9; padding: 15px 20px; border-radius: 10px; position: relative;}
.lesson-card .lesson-logo{padding-bottom: 15px;}
.lesson-card .lesson-logo figure{padding: 0; margin: 0; width: 60px; height: 60px; border-radius: 60px; border: solid 2px rgba(119,119,119,0.3); background-color: #fff; display: inline-flex; align-items: center; justify-content: center;}
.lesson-card .lesson-logo figure img{height: 40px;}
.lesson-card .lesson-title{font-size: 16px; font-weight: 400; padding: 0 0 10px 0; margin: 0;color: #3c464f;}
.lesson-card ul.lesson-info{padding: 0 0 5px 0; margin: 0;}
.lesson-card ul.lesson-info li{list-style: none; display: flex; align-items: center; margin-bottom: 3px;}
.lesson-card ul.lesson-info li .icon{font-size: 11px; color: #4bc2ff; width: 17px;}
.lesson-card ul.lesson-info li .text{font-size: 12px; color: #777777;}
.lesson-card .lesson-topic{color: #3c464f;padding-bottom: 5px;}
.lesson-card .lesson-topic span{color: #2acb72;}
.lesson-card .lesson-detail{padding: 0; margin: 0;}
.lesson-card .lesson-detail li{list-style: none; display: block; margin-bottom: 4px;}
.lesson-card .action-button{padding-top: 20px;}
.lesson-card .action-button .learn-more{text-align: left;}
.lesson-card .action-button .learn-more a{text-align: left; color: #4bc2ff; text-decoration: underline;}
.lesson-card .action-button .learn-more a:hover{text-decoration: none;}
.lesson-card .action-button .btn-custom{border-radius: 6px; border: solid 2px #8fd6fc; padding: 5px 15px;background: #fff;}
.lesson-card .action-button .btn-custom.fav-btn{margin-left: 15px;}
.lesson-card .action-button .btn-custom.fav-btn .icon{padding: 0;color: #868686;}
.lesson-card .action-button .btn-custom.fav-btn .icon [class*="fa"]{font-size: 18px;}
.lesson-card .action-button .btn-custom.fav-btn .icon.fav-active{color: #4bc2ff;}
.lesson-card .action-button #spamBtnHtm{position: absolute; right: 15px; top: 25px;}
.lesson-card .action-button .report-btn-custom{border-radius: 0; border:none; padding: 5px;background:transparent;}
.lesson-card .action-button .report-btn-custom.fav-btn{margin-left:0;}
.lesson-card .action-button .report-btn-custom.fav-btn .icon{padding: 0;color: #868686;}
.lesson-card .action-button .report-btn-custom.fav-btn .icon [class*="fa"]{font-size: 18px;}
.lesson-card .action-button .report-btn-custom.fav-btn .icon.fav-active{color: #4bc2ff;}
.lesson-card .action-button .report-btn-custom:hover,
.lesson-card .action-button .report-btn-custom:focus{outline:0; border: none;}


/********** Tabing Css **********/
.tab-card{background-color: #fff;}
.tab-card .nav-tabs{border-bottom: 0;}
.tab-card .nav-tabs .nav-item{ margin-right: 1px;}
.tab-card .nav-tabs .nav-link{border-radius: 0; border: solid 1px #d6ecf8;padding: 15px 30px;  line-height: normal; color: #585858; background-color: #fff; text-decoration: none; font-size: 25px; font-weight: 400; text-align: center;}
.tab-card .nav-tabs .nav-link.active{background-color: #f9f9f9;color: #3a3a3a; border: solid 1px #f2f2f3; border-bottom-color:#f9f9f9;}
.tab-card .tab-content{background-color: #f9f9f9;padding:15px 0;    border-top: solid 1px #f2f2f3;
box-shadow: inset  0 -8px 8px -8px rgba(0,0,0,0.1);
}
/*.tab-card .container{padding-left:85px;padding-right:85px; }*/
.post-question{border:solid 1px #dfdfdf; border-radius: 0 10px 0 10px; padding: 20px;}
.post-question textarea{ height: 70px;}

.card-comments{border-radius: 0px 10px 0px 10px;margin: 5px 0;}
.card-comments .card-header{border-radius: 0;  background: transparent;   border: 0;   padding: 1.25rem 1.25rem 0 1.25rem;}
.card-comments .card-header .card-title{padding: 0; margin: 0; font-size: 14px; font-weight: 300}
.card-comments .card-body{color: #2f2f2f;}
.comments-author-image{padding: 0;  margin: 0;  width: 60px;  height: 60px;  border-radius: 60px;
    border: solid 2px rgba(119,119,119,0.3);  background-color: #fff;  display: inline-flex;  align-items: center;
    justify-content: center; position: absolute; top: 0;}
.comments-author-image img{width: 58px; height: 58px; border-radius: 58px;}
.comments-author-image.left-position{left: -70px;}
.comments-author-image.right-position{right: -70px;}

.card-comment-padding{padding-left:85px;}
.card-comment-margin{margin-left:85px;}
.card-comments.card-comment-margin{margin-left:85px;}

.btn-reply{   display: inline-flex;  justify-content: center;  align-items: center;  line-height: normal;
    white-space: nowrap;  outline: none;  box-shadow: none;  border: solid 2px #dddddd;
    border-radius: 5px;  font-size: 14px;  font-weight: 400;  color: #777777;  text-decoration: none;
    padding: 7px 10px;  position: relative;  cursor: pointer;   background: transparent;}
.btn-reply img{margin-right: 5px;}
.btn-reply:hover,
.btn-reply:focus{color: #777777; text-decoration:none; background:#dddddd }

.card-comments .btn-reply{opacity: 0;}
.card-comments:hover .btn-reply{opacity: 1;}



/********** Contact Banner Css **********/
.contact-banner{padding: 50px 0; }
.contact-banner-box{background-image: url("../images/contact-banner.png"); background-repeat:no-repeat; background-size: cover; background-position: center center; width: 100%;  border-radius: 10px; padding: 40px; border:solid 1px #dadada;}
.contact-banner aside h3{padding: 0 0 5px 0; margin: 0; color:#fff; font-size: 30px; font-weight: 400;}
.contact-banner aside p{padding:0; margin: 0; color:#fff; font-size: 20px; font-weight: 300;}
.btn-white-outline{border:solid 1px #a7cae4; background-color:transparent;padding:15px 30px; font-size: 20px; font-weight: 500; text-align: center; border-radius: 5px; color: #fff; text-decoration: none; letter-spacing: 1px;display: inline-flex;  align-items: center;  justify-content: center;}
.btn-white-outline:hover,
.btn-white-outline:focus{background-color: #fff; color: #777777;text-decoration: none;}




/********** Register Page Banner Css **********/
.register-banner{width: 100%;background-image: url(../images/ss.jpg); background-repeat: repeat; background-size: cover;}

.register-card-wrapper{max-width: 540px; width: 100%;position: relative; top: 200px;margin: 0 auto 0 auto;}
.register-card{ width: 100%; background-color: #fff; border-radius: 10px; padding: 60px 0;   border:solid 1px #dadada; box-shadow: 0px 5px 15px rgba(145,155,180,0.3);}
.register-card-header{margin-bottom: 30px; padding: 0 80px;}
.register-card-header .heading{margin-bottom: 15px;}
.register-card-header p{ font-size: 20px; color: #151515; font-weight: 300;}
.register-card .form-group{margin-bottom: 30px;}
.form-control{border: solid 1px #26b4ff; height: 45px;   
	box-shadow:inset 0 6px 8px -9px rgba(0,0,0,0.4); font-weight: 300; font-size: 17px;}
select.form-control{background: linear-gradient(to bottom, #ffffff 1%,#f7f7f7 100%); box-shadow: none;}
.register-card .custom-select{border: solid 1px #339dd1;}

.register-card .form-text{font-size: 12px; color: #61a9cf; font-weight: 400; padding-left: 10px;}
.register-card .form-text a{color: #61a9cf; text-decoration: underline;}
.register-card .form-text a:hover{color: #61a9cf; text-decoration: none;}

.register-card .invalid-feedback{padding-left: 10px;}
.register-card-body{ padding: 0 80px;}
.register-card-footer{text-align: center; padding:15px 80px 0 80px;}
.register-card-footer .login-text{text-align: center; font-size: 20px; font-weight: 300; color: #151515;}
.register-card-footer .login-text a{font-weight: 400;}

.register-card-skip{padding: 15px 80px 0 80px; text-align: center;}
.register-card-skip .btn-link{ color: #777777; font-weight: 300; font-size: 18px;}

ul.register-card-step{padding: 0; margin: 35px 0 20px 0; width: 100%; display: flex; justify-content: space-around; position: relative;}
ul.register-card-step:before{position: absolute; content: ""; width: 100%; height: 8px; background-color: #c5d73f; left: 0; top: 11px; z-index: 0;}
ul.register-card-step li{list-style: none; position: relative; z-index: 1;}
ul.register-card-step li .count{ width: 30px; height: 30px; border-radius: 30px;  color: #fff; font-size: 20px; font-weight: 300; display: inline-flex; align-items: center; justify-content: center;}
ul.register-card-step li.active .count{background-color: #bbbbbb;}
ul.register-card-step li.complete .count{background-color: #c5d73f;}

.custom-select-outer{position: relative; width: 100%;}
.custom-select-outer:before{position: absolute; content: ""; width: 100%; height:45px; left: 0; top: 0;	background:linear-gradient(to bottom, #ffffff 1%,#f7f7f7 100%); border-radius: 5px;}
.custom-select-outer .custom-select{background-color: transparent;  border: solid 1px #26b4ff; font-size: 17px;	font-weight: 300; position: relative; height: 45px; z-index: 1; width:100%;background: url("../images/select-box-arrow.png") no-repeat right 15px top 50%;}
.custom-select-outer .custom-select:disabled{background-color:#e9ecef;}



.register-card .custom-file{height: 45px;}
.register-card .custom-file .custom-file-input{height: 45px;}
.register-card .custom-file .custom-file-label{text-align: left;    border: solid 1px #339dd1;box-shadow: inset 0 8px 6px -7px rgba(0,0,0,0.4); height: 45px; padding: 10px;}
.register-card .custom-file .custom-file-label:after{background: linear-gradient(to bottom,  #ffffff 1%,#e9e9e9 100%);    border: solid 1px #339dd1;  border-radius: 5px;  margin: 1px;     height: 41px;    padding: 10px 25px;}

.register-card .custom-file-label:hover:after{background: linear-gradient(to bottom,  #e9e9e9 1%,#ffffff 100%);}
hr{border-color:#cccccc;}

.profile-carousel .item img{/*width: auto;*/}
.profile-carousel .owl-item img{width: auto; max-width: 50px;}
.profile-carousel.owl-theme .owl-dots .owl-dot span{background: #bbbbbb;}
.profile-carousel.owl-theme .owl-dots .owl-dot.active span{background: #26b4ff;}
.profile-carousel.owl-theme .owl-dots .owl-dot:focus{outline: none;}
.register-avatar{}
ul.register-avatar-list{padding: 0; margin: 0; display: flex; flex-wrap: wrap; align-items: center; justify-content: center;}
ul.register-avatar-list li{list-style:none; width: 25%; text-align: center; margin-bottom: 25px;}
ul.register-avatar-list li a{display: inline-flex; align-items: center; justify-content: center; width: 90px; height: 90px; border-radius: 90px; border: solid 4px transparent;}
ul.register-avatar-list li a:hover{ border: solid 4px #2da5da;}


.register-note{background-color: #e9f4f8;box-shadow: inset 0 0 15px 0 rgba(0,0,0,0.1); padding: 15px; font-size: 14px; position: absolute; top: 100%; width:calc(100% - 60px); left: 30px; z-index: -1; border-radius: 0 0 3px 3px;}


.successful .heading{color: #2dc66e;}
.successful [class*="fa"]{color: #2dc66e; font-size: 100px;}
.successful .register-card-body{padding-top:40px; padding-bottom: 40px;}

/********** Landing Page Banner Css **********/
.join-class-wrapper	{background: linear-gradient(to bottom,  #017dbb 0%,#32538d 100%); padding: 40px 50px 50px 50px; border-radius: 10px;overflow: hidden;   position: relative; z-index: 1;}
.join-class-wrapper:before{position: absolute; content: ""; background-image:url(../images/join-class-left-image.png); background-repeat: no-repeat; background-position:center; width: 477px;  height: 780px; left: 0;   top: -50%; opacity: 0.3;z-index: -1;}
.join-class-wrapper:after{position: absolute; content: ""; background-image:url(../images/join-class-right-image.png); background-repeat: no-repeat; background-position:center; width: 466px;  height: 373px; right: -170px;   top: 25px; opacity: 0.5; z-index: -1;}
.join-class-wrapper .custom-select-outer:before{background: linear-gradient(to bottom,  #fefefe 1%,#e9e9e9 100%);}
.join-class-wrapper .custom-select-outer .custom-select .custom-select{ box-shadow: 0px 1px 10px rgba(0,0,0,0.2);color: #000000;font-size: 18px;
    font-weight: 400; }

.join-class-wrapper .btn-success{height: 45px; border: solid 1px #08397d; box-shadow: 0px 1px 10px rgba(0,0,0,0.2);}
.graphic-card{padding: 60px 0; text-align: center; font-family: 'mvboli'; font-size: 20px; color: rgba(255,255,255,0.5);}

.search-school .form-group{margin: 0; position: relative;}
.search-school .form-control{height: 40px; border-radius: 40px;border:solid 1px #f1f3f4;; 
	box-shadow: inset 0 10px 8px -10px rgba(0,0,0,0.4); }
.search-school .search-btn{position: absolute; background: transparent; border: none; box-shadow: none;     right: 10px;  top: 7px; color: #33b9ff; font-size: 16px;}
.search-school label{font-size: 30px; line-height: normal; color: #555555; font-weight: 500;}
.search-school-result{ font-size: 20px; font-weight: 300;}
.search-school-result strong{font-weight: 500;}

.school-carousel-wrapper{padding: 15px 0 30px 0;}
.school-carousel-wrapper .sub-heading{font-size: 25px; padding: 0 75px;}

.school-carousel{width:calc(100% - 100px); margin: 0 auto;}
.school-carousel.owl-theme .owl-nav [class*=owl-]{font-size: 60px; margin: 0; line-height: 0;}
.school-carousel.owl-theme .owl-nav [class*=owl-]:focus{outline: none;}
.school-carousel.owl-theme .owl-nav [class*=owl-]:hover{color: inherit; opacity: 0.6;}
.school-carousel.owl-carousel .owl-nav button.owl-prev{position: absolute; left: -40px; top: 40%;}
.school-carousel.owl-carousel .owl-nav button.owl-next{position: absolute; right: -40px; top: 40%;}

.school-carousel.owl-carousel .owl-stage{display: flex;}
.school-carousel.owl-carousel .item{height: 100%;}
.school-carousel.owl-carousel .school-card{padding: 15px; height: 100%; margin-bottom: 0;}
.school-carousel.owl-carousel .school-card-link{box-shadow: none;}
.school-carousel.owl-carousel .school-card-link:hover{box-shadow: 0 0 15px rgba(145,155,180,0.3)}

.any-device{background-color: #f9f9f9; min-height: 530px; display: flex;
	box-shadow: inset  0 15px 15px -15px rgba(0,0,0,0.1), inset  0 -8px 8px -8px rgba(0,0,0,0.1); padding:70px 0;
background-image: url(../images/devices.png); background-repeat: no-repeat; background-position: left center;
}
.device-info{}
.device-info .heading-sub-text{color: #000;}



.btn-gray-outline{border:solid 2px #b5b5b5; background-color:transparent;padding:5px 30px; height: 50px; font-size: 20px; font-weight: 500; text-align: center; border-radius: 5px; color: #777777; text-decoration: none; letter-spacing: 1px; min-width: 320px;display: inline-flex;  align-items: center;   justify-content: center;}
.btn-gray-outline:hover,
.btn-gray-outline:focus{background-color: #777777; color: #fff; border-color:#777777; text-decoration: none;}

.login-wrapper{padding: 50px 0; background-image: url("../images/login-bg.jpg"); background-repeat: no-repeat; background-position: right bottom; background-size: cover;}
.login-card{background-color: rgba(255,255,255,0.9); padding: 40px; border-radius: 10px;}
.login-card .sub-heading{color: #151515; font-size: 20px; font-weight: 300;}
.login-card .btn-secondary{border: solid 1px #9eb5c2;}
.login-card .form-group{margin-bottom: 20px;}
.login-card .info-text { text-align: center;  font-size: 20px;   font-weight: 300;  color: #151515;}
.login-card .btn-primary{ background: linear-gradient(to bottom,  #007bff 0%,#0070e9 100%)}
.login-card .btn-primary:hover{ background: linear-gradient(to bottom,  #0070e9 0%,#007bff 100%)}
.photo-card{ display: flex; justify-content: center; align-items: center; flex-direction: column;font-family: 'mvboli'; font-size: 20px; height: 100%;}

.contat-banner-home{padding: 0;}
.contat-banner-home .contact-banner-box{background-image: url("../images/contact-banner-home.png");}
.contat-banner-home aside{padding-bottom: 100px;}
.promotional-card{background-color: #ffffff; box-shadow: 0px 0px 25px rgba(145,155,180,0.2); border-radius: 10px; padding: 20px; height: 100%; text-align: center; display: flex; justify-content: center; align-items: center; flex-direction: column;font-family: 'mvboli'; font-size: 20px; color:rgba(0,0,0,0.5); border:solid 1px #ececec;}


/********** Favourites Tab List Css **********/
.btn-plus{height:40px; display: inline-flex; align-items: center;border: solid 2px #dddfdc; outline: none; box-shadow: none; border-radius: 5px; background-color: #f4fbed; padding: 5px 15px; color: #738164; font-weight: 500; font-size: 16px; text-decoration: none;}
.btn-plus:before{display: inline-block; margin-right: 10px; content: ""; width: 15px; height: 19px; background-image: none;}
.btn-plus:hover,
.btn-plus:focus{color: #738164; text-decoration: none;}

.btn-play{height:40px; display: inline-flex; align-items: center;border: solid 2px #dddfdc; outline: none; box-shadow: none; border-radius: 5px; background-color: #f4fbed; padding: 5px 15px; color: #738164; font-weight: 500; font-size: 16px; text-decoration: none; white-space: nowrap;}
.btn-play:before{display: inline-block; margin-right: 10px; content: ""; width: 15px; height: 19px; background-image: url("../images/play-icon.png"); background-repeat: no-repeat;}
.btn-play:hover,
.btn-play:focus{color: #738164; text-decoration: none;}


.btn-remove{height:40px; display: inline-flex; align-items: center;border: solid 2px #e1e1e0; outline: none; box-shadow: none; border-radius: 5px; background-color: #ebebec; padding: 5px 15px; color: #738164; font-weight: 500; font-size: 16px; text-decoration: none;white-space: nowrap;}
.btn-remove:before{display: inline-block; margin-right: 10px; content: ""; width: 20px; height: 20px; background-image: url("../images/close-icon.png"); background-repeat: no-repeat;}
.btn-remove:hover,
.btn-remove:focus{color: #738164; text-decoration: none;}


.btn-knowledge-link{height:40px; display: inline-flex; align-items: center;border: solid 2px #d8ddd3; outline: none; box-shadow: none; border-radius: 5px; background-color: #f4fbed; padding: 5px 15px; color: #818280; font-weight: 500; font-size: 16px; text-decoration: none; white-space: nowrap;}
.btn-knowledge-link:before{display: inline-block; margin-right: 10px; content: ""; width: 19px; height: 19px; background-image: url("../images/link-icon.png"); background-repeat: no-repeat;}
.btn-knowledge-link:hover,
.btn-knowledge-link:focus{color: #818280; text-decoration: none;}

.btn-notes{height:40px; display: inline-flex; align-items: center;border: solid 2px #b0cad8; outline: none; box-shadow: none; border-radius: 5px; background-color: #edf3f6; padding: 5px 15px; color: #738164; font-weight: 500; font-size: 16px; text-decoration: none; white-space: nowrap;}
.btn-notes:before{display: inline-block; margin-right: 10px; content: ""; width: 15px; height: 20px; background-image: url("../images/book-icon.png"); background-repeat: no-repeat;}
.btn-notes:hover,
.btn-notes:focus{color: #738164; text-decoration: none;}

.item-row-image{padding: 0; margin: 0;}
.item-row-image img{width: 35px; height: auto;}
.item-row{background-color: #fff; border:solid 1px #f2f2f3; padding: 15px; border-radius: 5px; margin-bottom: 5px;}
.item-row a.lecture-title:hover {text-decoration: none;}
.item-row .heading{font-size: 18px; color: #6e6e6e; padding: 0; margin: 0; font-weight: 400; white-space: normal;}
.item-row .heading-sub-text{font-size: 12px; color: #3c464f; padding: 0; margin: 0; white-space: normal;}
.tab-card .container.pad-inherit{padding-left: 15px; padding-right: 15px;}
.item-row .action-button{opacity: 0;}
.item-row:hover{ box-shadow: 0px 10px 20px rgba(0,0,0,0.15);}
.item-row:hover .action-button{opacity: 1;}

.item-row.item-row-lectures{min-height: 77px;}
.item-row.item-row-lectures .action-button{display: none;opacity: 1;}
.item-row.item-row-lectures:hover .action-button{display: flex; align-items: center; opacity: 1;}
.item-row.item-row-lectures .upload-time{display:flex; align-items: center; white-space: nowrap;flex-wrap: wrap;}
.item-row.item-row-lectures:hover .upload-time{display: none;}

/********** School Card Css **********/
.school-card{display: flex; height:calc(100% - 30px ); margin-bottom: 30px;}
.school-card-link{width: 100%;  border-radius: 10px; background-color: #fff; border: solid 1px #dadada; padding: 25px; display: block; display: flex; flex-direction: column; justify-content: space-between; align-items: center; word-break: break-word; text-align: center; box-shadow: 0 0 20px rgba(145,155,180,0.3); height: 100%; position: relative;white-space: normal;}
.school-card > a{text-decoration: none;}
.school-card .school-logo{padding: 0; margin: 0 0 15px 0; text-align: center;}
.school-card .school-logo img{max-width: 60px; height: auto;}
.school-card .school-name{color:#6e6e6e; font-size: 18px; font-weight: 400; margin: 0 0 15px 0;}
.school-card .school-course-qty{color:#3c464f; font-size: 13px; font-weight: 400; padding: 0; margin: 0;}
.school-card-link:hover{box-shadow: none;}
.school-lock{position: absolute;top: 15px; right: 15px;}

/********** Profile Section Css **********/
.profile-image figure{padding: 0; margin: 0;width: 230px; height: 230px; border-radius: 230px; border: solid 1px #d5d5d5; box-shadow: 0px 10px 10px rgba(0,0,0,0.15); position: relative; overflow: hidden;}
.profile-image figure img{width: 100%;   height: 100%;  border-radius: 100%; object-fit: cover;}

.profile-image-hover{position: absolute; content: ""; left: 0; top: 0; width: 230px; height: 230px; border-radius: 230px; background-color: rgba(0,0,0,0.5); display: flex;  flex-direction: column;  align-items: center;  justify-content: center; transition: all 0.5s ease 0s;opacity: 0;}
.profile-image-hover hr{width: 94%; left: 3%;}
.btn-profile-image{background: transparent; border: solid 1px #fff; border-radius: 5px; outline: none; height: 50px; min-width: 150px; display: inline-flex; align-items: center; justify-content: center; padding:3px 20px; text-align: center; color: #fff; text-decoration: none; text-transform: uppercase;    margin: 5px 0;}
.btn-profile-image:hover,
.btn-profile-image:focus{background: #fff; color: #000; text-decoration: none;}

.profile-image figure:hover .profile-image-hover{opacity: 1;}

.profile-detail .sub-heading{font-size: 30px; color: #3c464f; font-weight: 400; margin: 0;}
ul.profile-achievement{padding: 0; margin: 0;}
ul.profile-achievement li{list-style: none; display: flex; align-items: center; font-size: 13px; color: #7c7c7c; margin-bottom: 5px;}
ul.profile-achievement li .icon{width: 25px; text-align: center;}
.profile-progress .progress{    border: solid 1px #3da0d0;    box-shadow: inset 0 5px 4px -2px rgba(0,0,0,0.2);
    background-color: #fff;}
.profile-item-logo img{max-width: 50px;}
.profile-item-name{padding: 0; margin: 0 0 5px 0; font-size: 16px;font-weight: 400;}
.profile-item-location{padding: 0; margin: 0; font-size: 14px; font-weight: 400;}

.profile-menu{position: relative;}
.profile-menu .dropdown-toggle{ padding: 5px 10px; color: #3c464f; font-size: 18px;}
.profile-menu .dropdown-toggle:after{display: none;}


ul.profile-achievement-type{padding:0; margin: 0; display: flex; align-items: center;}
ul.profile-achievement-type li{list-style: none; text-align: center; padding: 5px 10px;}
ul.profile-achievement-type li .icon{font-size: 22px;}
ul.profile-achievement-type li .text{font-size: 16px;}
ul.profile-achievement-type li.silver{color: #C0C0C0;}
ul.profile-achievement-type li.bronze{color: #804a00;}
ul.profile-achievement-type li.blue{color: #0000FF;}
ul.profile-achievement-type li.yellow{color: #f8d200;}



.btn-activate{display: inline-flex; align-items: center; justify-content: center; color: #fff; text-decoration: none; font-size: 16px; line-height: normal; border: solid 1px #339dd1; outline: none; height: 40px; padding: 3px 20px; border-radius: 40px; white-space: nowrap; text-align: center; background: linear-gradient(to bottom, #2ecc71 1%,#2aba67 100%);}
.btn-activate:hover,.btn-activate:focus{background: linear-gradient(to bottom, #2aba67  1%,#2ecc71 100%); color: #fff; text-decoration: none;}

.btn-subscribe{display: inline-flex; align-items: center; justify-content: center; color: #fff; text-decoration: none; font-size: 16px; line-height: normal; border: solid 1px #339dd1; outline: none; height: 40px; padding: 3px 20px; border-radius: 40px; white-space: nowrap; text-align: center; background: linear-gradient(to bottom, #2ebacb 1%,#2aacbb 100%);}
.btn-subscribe:hover,.btn-subscribe:focus{background: linear-gradient(to bottom, #2aacbb  1%,#2ebacb 100%); color: #fff; text-decoration: none;}


/********** Playing Tab Section Css **********/
.accordion-playing >.card{border: none; background-color:transparent; border-radius:0;}
.accordion-playing > .card:not(:last-of-type){border-bottom:none; border-radius: 0;}
.accordion-playing > .card > .card-header{background-color: #fff;border: solid 2px #f2f2f3;    padding: 0.85rem 1.25rem; border-radius: 7px; margin-bottom: 0; }
.accordion-playing .card.playing .card-header{background-color: #f4fbed;}
.accordion-playing .card-header h4{font-weight: 400;}
.accordion-playing .card-header a{color: #6e6e6e; font-size: 20px; text-decoration: none;} 
.accordion-playing .card-header a .time-slot{color: #1793cd; padding-right: 10px;}
.accordion-playing .card-header .play-btn{flex-basis: 25px; font-size: 18px;}
.accordion-playing .card-header .play-btn .text-default{color:#c7c7c6; }
.accordion-playing .card-header .play-btn .text-success{color:#2ecc71; }
/*.accordion-playing .card-header .arrow{opacity: 0;}
.accordion-playing .card-header:hover .arrow{opacity: 1;}*/
.accordion-playing .card-header .arrow [class*="fa"]{font-size: 28px; color: #c7c7c6;}
.accordion-playing .card-header .arrow [class*="fa"].fa-angle-up{color: #4dc2ff; }
.accordion-playing .collapse{ padding: 0 15px;}
.accordion-playing .card-body{ background-color: #eaf4f8; border: solid 2px #d6eaf3; border-radius: 0 0 7px 7px; 
	border-top-width: 1px;    margin-top: -1px;}


/********** Login Dropodown Css **********/
.login-dropdown{ padding: 20px; border: solid 1px #e1e1e1; border-radius: 5px; background-color: #fff; margin-top: 22px; min-width: 240px; right:0!important; left: auto!important;box-shadow: 0px 0px 25px rgba(145,155,180,0.5); transform: none!important; top: auto!important;}
.login-dropdown:before{position:absolute;content: ""; top: -10px; right: 40px; border-left: solid 10px transparent;
border-right: solid 10px transparent; border-bottom: solid 10px #fff;}
.login-dropdown .form-control{height: 40px; font-size: 14px;}
.login-dropdown .form-text{font-size: 14px;}

ul.login-dropdown-nav{padding: 0; margin: 0;}
ul.login-dropdown-nav li{list-style: none; display: block; padding:0; margin: 0;}
ul.login-dropdown-nav li a{color: #2381be; font-size: 14px; text-decoration: none; padding: 10px; display: block;}
ul.login-dropdown-nav li:last-child{border-top: solid 1px #cccccc;}
ul.login-dropdown-nav li:last-child a{color:#8850ac;padding: 15px 10px 0 10px;}



/********** Knowledge Base Css **********/
.knowledge-base-banner{width: 100%; display: flex; min-height: 250px; padding: 20px 0; background-image: url(../images/knowledge-base-banner.jpg); background-repeat: no-repeat; background-position: center center; background-size: cover;}
.knowledge-base-banner .caption{height: 100%; display: flex; flex-direction: column; justify-content: center;}
.knowledge-base-banner .heading{color: #fff;}
.knowledge-base-banner .heading-sub-text{color: #fff;}
.Knowledge-card{border: solid 1px #dadada; border-radius: 10px; box-shadow: 0px 0px 25px rgba(145,155,180,0.5); 
	height:calc(100% - 30px); margin-bottom: 30px;    display: flex;    flex-direction: column;background-color: #fff; }
.Knowledge-card .Knowledge-card-image {width: 100%;}
.Knowledge-card .Knowledge-card-image a{display: block;}
.Knowledge-card .Knowledge-card-image img{width: 100%; border-radius:10px 10px 0 0;}
.Knowledge-card .Knowledge-card-body{padding: 20px 25px 5px 25px; height: 100%;}
.Knowledge-card .Knowledge-card-body h3{ padding: 0 0 10px 0; margin: 0; color: #6e6e6e; font-size: 18px; font-weight: 400;}
.Knowledge-card .Knowledge-card-body h3 a{color: #6e6e6e; text-decoration: none;}
.Knowledge-card .Knowledge-card-body h3 a:hover{color: #6e6e6e; text-decoration: underline;}
.Knowledge-card .Knowledge-card-body p{ font-size: 13px; color: #3c464f;}
.Knowledge-card .Knowledge-card-footer{padding:0  25px 25px 25px;}
.Knowledge-card .Knowledge-card-footer p{ font-size: 13px; padding: 0; margin:0; color: #3c464f;}
.Knowledge-card .Knowledge-card-footer a{color: #0678b7; text-decoration: underline;}
.Knowledge-card .Knowledge-card-footer a:hover{color: #0678b7; text-decoration: none;}
.paging {display: flex; justify-content: center; padding-top: 25px;}


/********** Knowledge Base Detail Css **********/
.knowledge-base-detail-banner{width: 100%; display: flex; min-height: 250px; background-image: url(../images/knowledge-base-detail-banner.jpg); background-repeat: no-repeat; background-position: center center; background-size: cover;  flex-direction: column; justify-content: flex-end;}
.knowledge-base-detail-banner .caption{ background-color: rgba(255,255,255,0.9); padding: 15px 0;}
.knowledge-base-detail-banner .heading{ color: #383737; padding: 0; margin: 0;}
.knowledge-base-detail-banner .heading-sub-text{ color: #383737;}

.pad-knowledge-comments{padding-left: 85px;}

.Knowledge-author .Knowledge-author-image{ padding: 0; margin: 0;}
.Knowledge-author .Knowledge-author-image img{border-radius: 20px;}
.Knowledge-author .Knowledge-author-image.small-image img{width: 90px;}
.Knowledge-author .Knowledge-author-image.big-image img{width: 115px;}
.Knowledge-author ul.Knowledge-author-detail{padding: 0; margin: 0;}
.Knowledge-author ul.Knowledge-author-detail li{list-style: none; font-size: 14px; margin-bottom: 3px;}

.knowledge-read-more{padding-top: 100px;}
.knowledge-read-more .heading{font-size: 20px; color: #616060; font-weight: 400; margin-bottom: 15px;}
.knowledge-read-more .Knowledge-card{ height:auto;  margin-bottom: 20px; box-shadow: none;}
.knowledge-read-more .Knowledge-card-body{padding: 15px 15px 5px 15px;}
.knowledge-read-more .Knowledge-card-body h3{font-size: 14px;}
.knowledge-read-more .Knowledge-card-footer{padding: 0  15px 15px 15px;}

.box-shadow-top{box-shadow: inset  0 15px 15px -15px rgba(0,0,0,0.1);}
.box-shadow-bottom{box-shadow:inset  0 -8px 8px -8px rgba(0,0,0,0.1);}

/********** Multilevel Dropdown Css **********/
.dropdown-submenu {/*position: relative;*/}
.dropdown-submenu .dropdown-item{display: flex; justify-content: space-between;}
.dropdown-submenu> a:after {  content: ">";  float: right; margin-left: 10px;}
.dropdown-submenu>.dropdown-menu {top: -0.05rem;left: 100%; margin-top: 0px; margin-left: 0px;}
.dropdown-submenu:hover>.dropdown-menu {display: block;}



.form-control.filterby-form-control {border: solid 1px #dadada; height: 34px; box-shadow: none; font-weight: 300; font-size: 16px;}




/********** How To Access Css **********/
.howtoaccess-banner{width: 100%; display: flex; min-height: 250px;  background-image: url(../images/howtoaccess-banner.jpg); background-repeat: no-repeat; background-position: center center; background-size: cover;}
.howtoaccess-banner .caption{height: 100%; padding: 20px 0; display: flex; flex-direction: column; justify-content: center;}
.howtoaccess-banner .heading{color: #fff;}
.howtoaccess-banner .heading-sub-text{color: #fff;}

.device-type-card h3{padding: 15px 0; margin: 0; font-weight: 500; font-size: 16px; text-transform: uppercase;}

.bg-gray{background-color:#f8f8f8;}
.bg-sky-blue{background-color:#b2e1e8;}
.bg-light-purple{background-color:#edd2f1;}
.text-inherit{color: inherit;}

.barcode-hover-wrapper {position: relative;}
.barcode-hover-wrapper .barcode-hover-content{position: absolute; bottom:calc(100% - 10px); left: -20px; display: none;}
.barcode-hover-wrapper:hover .barcode-hover-content{display: block;}



.archive-card{background-color: #fff; border-radius: 10px; padding: 30px; border: solid 1px #dfdfdf;}

/********** Custom Modal Css **********/
.custom-modal .modal-header{border: none; padding: 0; position: relative;}
.custom-modal .modal-header .close{position: absolute; right: 10px;  top: 5px;  margin: 0;  z-index: 10;
	font-size: 30px;}
.custom-modal .modal-content {background-color: transparent; border: none;}
.custom-modal .modal-body{background: transparent;}
.custom-modal .register-card-wrapper{top: 0;}
.custom-modal .register-card{padding:30px 0;}
.custom-modal .register-card-header{padding:0 30px ;}
.custom-modal .register-card-header .heading{font-size: 30px;}
.custom-modal .register-card-body{padding:0 30px;}
.custom-modal .register-card-footer{padding: 15px 30px 0 30px;}



/********** Multileval Dropdown Css **********/
.dropdown-toggle-custom{cursor: pointer; display: flex;}
.dropdown-toggle-custom .dropdown-toggle:after{display: none;}
.dropdown-toggle-custom .dropdown-menu{z-index: 1030;}


/********** Calendar Css **********/
.calender{ position: relative;}

.flatpickr-calendar{margin: 0 auto; z-index: 1;}
.flatpickr-calendar:before{position: absolute; content: ""; width:calc(100% + 100px); height: 80%;left: -50px; top: 10%; border: solid 1px #e8e7e7; border-radius: 10px;  z-index: -1;}
.flatpickr-months .flatpickr-month{background: #26b4ff; border-radius: 10px 10px 0 0;}
.flatpickr-innerContainer{  border-radius: 0 0 10px 10px;}
.flatpickr-weekdays{background: #26b4ff;}
.dayContainer{ color: #3c464f;   font-weight: 400;}
span.flatpickr-weekday{color: #fff; text-transform: uppercase; font-weight: 400;background: #26b4ff;}
.flatpickr-current-month span.cur-month{ font-weight: 400; text-transform: uppercase;}
.flatpickr-day.flatpickr-disabled, .flatpickr-day.flatpickr-disabled:hover{    color: rgba(60,70,79,0.3);}



/********** 404 Page Css **********/
.error-404{text-align: center;}
.error-404 h1{font-size: 80px;  color: #ff0000; font-weight: 700;}
.error-404 h3{color: #0678b7; font-size: 50px; font-weight: 300;}



.btn.disabled, 
.btn:disabled{pointer-events: none;}
.btn.disabled:hover, 
.btn:disabled:hover{pointer-events: none;}



/**********Inner Pages Banner Css**********/
.inner-banner{width: 100%; display: flex; min-height: 250px; padding: 20px 0; background-image: url(../images/inner-banner.jpg); background-repeat: no-repeat; background-position: center center; background-size: cover; }
.inner-banner .caption{height: 100%; display: flex; flex-direction: column; justify-content: center;max-width: 500px;}
.inner-banner .heading{color: #fff;}
.inner-banner .heading-sub-text{color: #fff;}


/**********Contact Page Css**********/
.contact-card{background-color: #f8f9fa; border: solid 1px #dfdfdf; border-radius: 0 10px 10px 10px;padding:25px 20px;}
.contact-card .form-group{margin-bottom: 20px;}
.contact-card .form-group > label{ font-size: 18px; color: #000000;}
.contact-card .form-control{background-color: #fff; border: solid 1px #dfdfdf; border-radius: 5px; height: 40px; box-shadow: none;}
.contact-card textarea.form-control{ height: 125px;}

.contact-info{background-color: #ffff; padding:25px 20px 40px 20px;}
.contact-info .contact-link a{color:#515050; font-size: 18px; text-decoration: none; display: table; margin-bottom: 5px;}
.contact-info .contact-link a:hover{color:#515050;text-decoration: underline;}
.contact-info .contact-link [class*="fa"]{color: #e1e2e2;}

.custom-control-card .invalid-feedback{order: 1;}
.custom-control-card .custom-control{order: 2;}
.contact-card label.custom-control-label{ color: #2f2f2f;}

.contact-card .sub-heading{font-size: 18px; color: #000000; font-weight: 400;}
.contact-card .custom-select-outer:before{background:#fff; height: 40px;}
.contact-card .custom-select-outer .custom-select{ border: solid 1px #dfdfdf; height: 40px;}

/**********Filter box Css**********/
.filter-row .custom-select-outer:before{background:#fff; height: 40px;}
.filter-row .custom-select-outer .custom-select{ border: solid 1px #dfdfdf; height: 40px;}





/**********Fancy Radio Checkbox Bworse Css**********/ 
.custom-control-label::before{width: 21px; height: 21px; top: 1px;}
.custom-control-label::after{width: 21px; height: 21px; top: 1px;}
.custom-control-input:checked ~ .custom-control-label::before {  color: #fff;  border-color: #26b4ff;  background: #26b4ff;outline: none;
    box-shadow: none;}
.custom-control-label{padding-left: 5px;}
.custom-file-browse .custom-file-label{padding: 0.375rem 0.75rem 0.375rem 5.6rem;border: 0;   background: transparent;}
.custom-file-browse .custom-file-label::after{left:0; right:auto;background: linear-gradient(to bottom, #fff 1%,#e8e8e8 100%); border:solid 1px #cccdce;border-radius: 0.25rem;}


.static-page h5{font-weight: 400; color: #323131;}

.bootstrap-tagsinput{background-color: #fff;  border: solid 1px #dfdfdf;  border-radius: 5px;  height: 40px;   box-shadow: none;display: flex;
    align-items: center;}

/**********Custom Accordion Css**********/
.custom-accordion > .card{margin-bottom: 10px;border: 0;}
.custom-accordion > .card .card-body{padding: 0 1.25rem 0 1.25rem;}
.custom-accordion > .card .card-text{background-color: #eaf4f8;   border: solid 2px #d6eaf3;   border-radius: 0 0 7px 7px;
    border-top-width: 1px;    margin-top: -1px; padding: 1.25rem;}
.custom-accordion > .card > .card-header{display: flex; justify-content: space-between; align-items: center; cursor: pointer;color: #6e6e6e;
    font-size: 20px;    text-decoration: none; background-color: #fff;  border: solid 2px #f2f2f3;  padding: 0.85rem 1.25rem;   border-radius: 7px;   }
.custom-accordion .card-header:after{font-family: 'Font Awesome 5 Free'; font-weight: 900; font-size:28px; margin-left: 20px;    line-height: 0;}
.custom-accordion .card-header.collapsed:after {  content: "\f107";  color: #c7c7c6;}
.custom-accordion .card-header:after {    content: "\f106"; color: #4dc2ff; }





@media(max-width:1199px){
	.item-row .action-button{opacity: 1;}
	.item-row.item-row-lectures .action-button{display: block;}
	.item-row.item-row-lectures:hover .action-button {  display: flex;}
	.item-row.item-row-lectures:hover .upload-time {  display: flex;}
	
}
@media(max-width:991px){
.mobile-toggle-btn {width: 40px; height: 40px; background-color: transparent;  position: relative; top: 0;  right: 0;
cursor: pointer; z-index: 99; float:right;  }
.mobile-toggle-btn span { height: 4px; width: 25px; background-color: #0678b7; display: block; position: absolute;
left: 50%;  top: 50%;  transform: translate(-50%, -50%);  transition: all 0.5s ease 0s;  border-radius: 2px;  }
.mobile-toggle-btn span:before { position: absolute; content: ""; height: 4px; width: 25px; top: -8px;  background-color: #0678b7; transition: all 0.3s ease 0s; border-radius: 2px;  }
.mobile-toggle-btn span:after {position: absolute; content: ""; height: 4px; width: 25px; bottom: -8px;
background-color: #0678b7; transition: all 0.3s ease 0s; border-radius: 2px; }
.mobile-toggle-btn.open span { background-color: transparent;}
.mobile-toggle-btn.open span:before {transform: rotate(45deg);   top: 0; }
.mobile-toggle-btn.open span:after {transform: rotate(-45deg); bottom: 0;}
.header-nav {position: fixed; top: 60px; left: 0;display: none; width: 100%; height: calc(100% - 60px);
background-color: #0678b7; z-index: 100; overflow: auto; }
ul.main-menu {display: flex; flex-direction: column; justify-content: flex-start; align-items: center;
overflow: auto; padding: 30px 0 0 0; }
ul.main-menu > li {margin: 10px 0; width: 80%;}

ul.main-menu li.header-search { margin-left: inherit;}
.header-search .search-form { position: static; right: auto;  top: auto;}	
.header-search .search-form .form-control{opacity: 1; width: 100%;}	
.header-search .search-form .form-group:hover .form-control{width: 100%;}	
	
.any-device{background-size: 70%;}	
	
.search-form .form-control{max-width: 100%;}	
.header .btn-custom{width: 100%;}	
ul.main-menu li .nav-link{  border: solid 1px #26b4ff; background: linear-gradient(to bottom, #e8e8e8 1%,#fff 100%);   color: #484a4c;}
.lesson-card{margin-top: 30px;}
.tab-card .nav-tabs .nav-link{padding: 10px 15px;    font-size: 20px;}	
.login-dropdown{position: relative; min-width: 100%;}		
.after-login-dropdown{position: relative!important;  min-width: 100%;  transform: none!important;}			
}
@media(max-width:767px){
.heading{font-size: 28px;}
.sub-heading{font-size: 24px;}	
.lesson-video iframe{width: 100%; height: auto;}
.tab-card .nav-tabs .nav-link{padding: 10px 10px;    font-size: 16px;}			

.register-card-header .heading{margin-bottom: 5px;}
.register-card-header p{font-size: 16px;}	
.register-card	{padding: 30px 0;}
.register-card-header{padding: 0 15px;}	
.register-card-body{padding: 0 15px;}
.register-card-footer{padding: 15px 15px 0 15px; }	

ul.register-avatar-list li	{width:100px;}	
.join-class-wrapper{padding: 30px;}

.any-device{background-position: left bottom;}	
	
.calender{overflow-x: auto; overflow-y: hidden;}	
.flatpickr-calendar:before{display: none;}	
.error-404 h1{font-size: 50px;}	
.error-404 h3{font-size: 28px;}	
	
	.archive-card{padding: 15px;}	
	.profile-image figure{display: inline-block;}
	
	
}


@media(max-width:574px) {
/*.tab-card .nav-tabs .nav-item{width: 100%; margin-right: 0;}*/		
}
@media(max-width:480px) {
.any-device { background-size: contain;}	
}




.profile_img.active { border: solid 4px #2da5da;}
.ajax-error { color: #761b18; font-size: 16px;  padding: 5px;}

#school-list{float:left;list-style:none;margin-top:0px;padding:0;width:377px;position: absolute;z-index: 999;}
#school-list li{padding: 10px; background: #f0f0f0; border-bottom: #bbb9b9 1px solid;}
#school-list li:hover{background:#ece3d2;cursor: pointer;}
#search-school{padding: 10px;border: #a8d4b1 1px solid;border-radius:4px;}
